---
layout: default
title: My Home Page
---

<!-- Jumbotron -->      
<div class="jumbotron">
  <div class="container">
      <h1> 	<span class="tags">&lt;</span> Daniel Fuentes <span class="tags">/&gt;</span></h1>
    <h2>Front End Web developer</h2>
  </div>
</div>
<!-- End of Jumbotron -->

<div class="row projects-title">
            <h1>Some of my Latest Work</h1>
        </div>
        <!-- Example row of columns -->
        <div class="row work">
            <ul>
                {% for post in site.posts %}
                <li>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail hvr-box-shadow-outset">
                            {% if post.image %}
                            <img src="../img/{{ post.image }}" alt="...">
                            {% endif %}
                            <div class="caption">
                                <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
                                <p>{{ post.description }}</p>
                            </div>
                        </div>
                    </div>
                </li>                            
                {% endfor %}
            </ul>
        </div><!-- row work-->

      <hr>
