<header>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/index.html">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
       
    <!-- Loading Screen --
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End of Loading Screen-->
        
    <!-- Header Section -->      
    <div class="jumbotron">
      <div class="container">
          <h1> 	<span class="tags">&lt;</span> dANIEL FUENTES <span class="tags">/&gt;</span></h1>
        <h2>Front End Web developer</h2>
      </div>
    </div>
    <!-- End of Header Section -->
</header>
